nav{
	width: 30%;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
main{
	width: 70%;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
#letra{
	width: 100%;
	padding: 30px;
	overflow: scroll;
}
.col_5{
	width: 50%;
	float: left;
}
.col_10{
	width: 100%;
	float: left;
}