html, body{
	margin: 0;
	padding: 0;
	background-color: black;
	scroll-behavior: smooth;
}
.botao{
    border: 2px solid transparent;
    border-radius: 0;
    padding: 12px 28px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background-color: #333;
    z-index: 20;
    letter-spacing: 2px;
    overflow: hidden;
    text-decoration: none;
}
.botao.grande{
	width: 100%;
}
.col_5{
	width: 50%;
	float: left;
}
.col_10{
	width: 100%;
	float: left;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#Musica_atual{
	font-size: 35px;
	text-decoration: underline;
}
#Proxima_musica{
	font-size: 35px;
	text-decoration: underline;
}
#Musica_atual, #Proxima_musica, #Letra_atual{
	color: white;
	width: 100%;
	text-align: center;
}
#Letra_atual{
	font-size: 24px;
	columns: 2;
}
#Letra_atual.c_1{
	columns: 1;
}
#Letra_atual.c_2{
	columns: 2;
}
#Letra_atual.c_3{
	columns: 3;
}
#Letra_atual.c_4{
	columns: 4;
}
#Letra_atual.f_1{
	font-size: 11px;
}
#Letra_atual.f_2{
	font-size: 14px;
}
#Letra_atual.f_3{
	font-size: 18px;
}
#Letra_atual.f_4{
	font-size: 24px;
}
#Letra_atual.f_5{
	font-size: 30px;
}
#Letra_atual.f_6{
	font-size: 50px;
}