* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    letter-spacing: 1px;
}
h1 {
    font-size: 50px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
h4 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
}
h5 {
    font-size: 15px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
}
h6 {
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
}
img{
    max-width: 100%;
    height: auto;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html, body{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.hidden{
    display: none;
}
.botao{
    border: 2px solid transparent;
    border-radius: 0;
    padding: 12px 28px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background-color: #333;
    z-index: 20;
    letter-spacing: 2px;
    overflow: hidden;
    text-decoration: none;
}

.botao:hover {
    color: #666;
    background-color: #FFF;
    border: 2px solid #666;
    letter-spacing: 3px;
}
.botao.alt{
    color: #fff;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fff;
    letter-spacing: 3px;
}
.botao.alt:hover{
    background-color: #FFF;
    color: #666;
}
.botao.icon{
    font-size: 24px;
    padding: 6px 14px;
}
.botao.grande{
	width: 100%;
}
.box-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-1.hover:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-2.hover:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-3.hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-4.hover:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-5.hover:hover{
    box-shadow: 0 25px 50px rgba(0,0,0,0.30), 0 21px 14px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.box-left-1 {
    box-shadow: 1px 0 3px rgba(0,0,0,0.12), 1px 0 2px rgba(0,0,0,0.24);
}
.box-left-2 {
    box-shadow: 3px 0 6px rgba(0,0,0,0.16), 3px 0 6px rgba(0,0,0,0.23);
}
.box-left-3 {
    box-shadow: 10px 0 20px rgba(0,0,0,0.19), 6px 0 6px rgba(0,0,0,0.23);
}
.box-left-4 {
    box-shadow: 14px 0 28px rgba(0,0,0,0.25), 10px 0 10px rgba(0,0,0,0.22);
}
.box-left-5 {
    box-shadow: 19px 0 38px rgba(0,0,0,0.30), 15px 0 12px rgba(0,0,0,0.22);
}
.box-right-1 {
    box-shadow: -1px 0 3px rgba(0,0,0,0.12), -1px 0 2px rgba(0,0,0,0.24);
}
.box-right-2 {
    box-shadow: -3px 0 6px rgba(0,0,0,0.16), -3px 0 6px rgba(0,0,0,0.23);
}
.box-right-3 {
    box-shadow: -10px 0 20px rgba(0,0,0,0.19), -6px 0 6px rgba(0,0,0,0.23);
}
.box-right-4 {
    box-shadow: -14px 0 28px rgba(0,0,0,0.25), -10px 0 10px rgba(0,0,0,0.22);
}
.box-right-5 {
    box-shadow: -19px 0 38px rgba(0,0,0,0.30), -15px 0 12px rgba(0,0,0,0.22);
}
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}
.table td{
    border: 1px solid #ddd;
    padding: 8px;
}
.table thead tr td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #34495e;
    color: #ecf0f1;
}
.table.stripped tbody tr:nth-child(even){
	background-color: #f2f2f2;
}
.input[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}
.linha{
	width: 100%;
}
.linha::after {
    content: "";
    clear: both;
    display: table;
}
.select{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
}